
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /WildHorizon-BookShop/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Chuyển hướng về index.php
    RewriteRule ^ index.php [L]
</IfModule>