
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Điều kiện: Nếu không phải file hoặc thư mục thật
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Chuyển hướng về index.php
    RewriteRule ^ index.php [L]
</IfModule>