:root {
    --white-color: #fff;
    --back-color: #000;
    --text-color: #333;
    --color-orange: rgb(220, 150, 46);
    --color-blue: #4287f5;
    --color-blue-sky: #97b9f0;
    --color-green: #12c949;
    --color-red: #eb3b52;
    --color-pink: #e66adb;
    --color-yellow: #e3e03b;
    --color-grey: #c8c6cc;
    --color-purple: #b992e0;
    --bg-banner-top: rgb(250, 0, 20);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', serif;
}
a {
    text-decoration: none;
}

.border-blue-400 {
    --tw-border-opacity: 1;
    border-color: rgb(96 165 250 / var(--tw-border-opacity, 1));
}
/* Font */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans', serif;
}

/* Customer css */
.container-fuild {
    max-width: 1188px !important;
}
/* Font weight */
.fw-400 {
    font-weight: 400;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-900 {
    font-weight: 900;
}
/* Text */
.text-sky {
    color: var(--color-blue-sky) !important;
}
.text-pink {
    color: var(--color-pink) !important;
}
.text-purple {
    color: var(--color-purple) !important;
}
.text-yellow {
    color: var(--color-yellow) !important;
}

.text-m {
    font-size: 12px;
    line-height: 18px;
}

.w-25-pt {
    width: 25%;
}
/*  */
.bg-banner-top {
    background-color: var(--bg-banner-top);
}

.header-content {
    height: 130px;
}

.hidden {
    display: none;
}

.justify-content-around {
    justify-content: space-around;
}

.user-select-none {
    user-select: none;
}

/* Header */
.header-logo {
    width: 230px;
}

.header-input-search {
    background-color: #eff0f5;
    outline: none;
}

.header-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    width: 75px;
    height: 35px;
    background-color: #f57224;
    position: absolute;
    top: 4px;
    right: 6px;
    bottom: 0;
    cursor: pointer;
}

/* MENU USER */
.whr-menu-user {
    left: 50%;
    opacity: 0;
    padding-top: 10px;
    position: absolute;
    top: 25px;
    transform: translateX(-50%);
    transition: all 0.3s;
    visibility: hidden;
    white-space: normal;
    z-index: 20;
}

.whr-menu-user-popup:hover > p {
    --tw-text-opacity: 1;
    color: rgb(251 146 60 / var(--tw-text-opacity, 1));
}
.whr-menu-user-popup:hover .whr-menu-user {
    visibility: visible;
    opacity: 1;
}
.top-content::before {
    background-color: #fff;
    border-bottom-color: #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-right-color: #bfbfbf;
    border-top: 1px solid #bfbfbf;
    content: '';
    height: 10px;
    left: 50%;
    position: absolute;
    top: -6px;
    transform: rotate(45deg);
    width: 10px;
}

/* Slick sider */
.slick-prev {
    left: 4px !important;
    z-index: 9999999999;
}
.slick-next {
    right: 4px !important;
    z-index: 99999999;
}

/* app download */
.download-app {
    background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0)), linear-gradient(179.27deg, #ffedd6 0.83%, #ffc3e3 46.78%, #fff 99.57%), linear-gradient(0deg, #fff, #fff);
    width: 230px !important;
}
.download-app-content {
    background-image: url(https://res.cloudinary.com/whr-clound/image/upload/v1745418405/bblpm8x0dipbf5ytvg0p.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 143px;
    margin-top: 6px;
    overflow: hidden;
    width: 100%;
}
.download-app-qr {
    height: 90px;
    width: 90px;
    margin-top: 12px;
}
.download-app-appstore,
.download-app-ggplay {
    background-image: url(https://res.cloudinary.com/whr-clound/image/upload/v1745418461/f3cwjo8pxqsli3yuie1p.png);
    background-size: 100% auto;
    height: 24px;
    width: 83px;
}

.download-app-ggplay {
    background-image: url(https://res.cloudinary.com/whr-clound/image/upload/v1745418457/lyl5wgqgrtxm55vchepf.png);
}

/* LOGIN */
.whr-login {
    max-width: 444px;
}

.login-content,
.register-content {
    /* min-height: 100vh; */
    background-image: url(https://res.cloudinary.com/whr-clound/image/upload/v1745418551/fle1ah8qy99bnsjrksxr.jpg);
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.whr-register {
    /* min-height: 610px; */
    max-width: 480px;
}

.whr-show-hidden-pw-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

/* FLASH SALES */
.whr-flash-sale,
.whr-product-main {
    min-height: 675px;
    height: auto;
}

.whr-cart {
    min-height: 400px;
    height: auto;
}

.flash-sale-btn {
    height: 35px;
    border: 1px solid var(--color-orange);
    border-radius: 2px;
    text-align: center;
    padding: 5px 5px;
    font-size: 14px;
}

.flash-sale-product-price-sale {
    font-size: 11px;
}

.whr-product-content {
    /* min-height: 290px; */
}

.main-product-content {
    min-height: 290px !important;
}

.whr-product-img {
    width: auto;
    height: 180px;
    max-height: 200px;
    height: 180px;
    margin: 0 auto;
}

.main-img-product {
    max-height: 230px !important;
}

.flash-sale-product-title,
.product-title {
    height: 20px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* CATEGORIES */
.category:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
}
.whr-category {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.whr-category-title {
    height: 35px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* LOAD MORE */
.load-more-product {
    border: 1px solid #1a9cb8;
    color: #1a9cb8;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 387px;
}

/* FEEDBACK */
.whr-feedback {
    max-width: 728px;
    width: 728px;
    margin: 24px auto;
}
.whr-feedback-header-title-dash {
    background-color: #000;
    display: block;
    height: 16px;
    margin-right: 8px;
    width: 1px;
}
.whr-feedback-textarea {
    height: 169px;
}
.poiter-events-none {
    pointer-events: none;
}

/* Sản phẩm */
.price-unchecked,
.supplier-unchecked,
.brand-unchecked,
.color-unchecked {
    background: transparent url('https://res.cloudinary.com/whr-clound/image/upload/v1745418342/znvb4qua4sombvx1fqww.webp') 0 50% no-repeat;
}

.price-checked,
.supplier-checked,
.brand-checked,
.color-checked {
    background: transparent url('https://res.cloudinary.com/whr-clound/image/upload/v1745418339/wdrfoh6n7vpdvewy2m5m.webp') 0 50% no-repeat;
}
.auto-maxheight {
    max-height: 200px;
    overflow: hidden;
}
/* Chi tiết sản phẩm */
.product-detail-content {
    max-width: 500px;
}

.product-detail-image {
    width: 340px;
    height: 340px;
}

.product-box-btn {
    width: 220px;
    height: 44px;
}

.border-b-sm {
    border-bottom: solid 0.0005px #f2f4f5;
}

.product-suggest {
    background: url('https://res.cloudinary.com/whr-clound/image/upload/v1745418288/pl8v0ybml5jl2mhpetqn.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 8px;
}

/* CHECKOUT */
.checkout-label {
    width: 200px;
}

.checkout-input {
    min-width: 36px;
    width: 100%;
    height: 37px;
    padding: 5px 16px;
    outline: none;
    border: 1px solid #c5c3c3ee;
}

.checkout-product-image {
    width: 145px;
    height: 100px;
}

.checkout-product-title {
    width: calc(100% - 500px);
}

.checkout-quantity,
.checkout-price {
    width: 100px;
}

/* CUSTOMER PAGE */
/* customer account */
.c-sidebar {
    max-height: 570px;
}

.customer-icon {
    text-align: center;
    width: 80px;
    height: 80px;
}

.border-s-6 {
    border-inline-start-width: 6px;
}

.img-account-content {
    height: 185px;
}

.profile-label {
    width: 150px;
}

#toast-container > div {
    opacity: 1 !important;
}

.customer-address-content {
    min-height: 400px;
}

/* CUSTOMER ORDER */
.active {
    color: orange;
    border-bottom: 3px solid red;
}

/* .order-content {
    min-height: 500px;
} */

/* ORDER DETAIL */
.order-step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.order_detail_img {
    width: 120px;
    height: 120px;
}

/* REVIEW */
.product-review-image {
    width: 40px;
    height: 40px;
}

/* Rating */
.bg_fs {
    background: url(https://res.cloudinary.com/whr-clound/image/upload/v1747141655/mqcesjm6cxlkrihb67cr.webp) no-repeat center center;
    background-color: #ff6c6b;
    position: absolute;
    height: calc(100% + 32px);
    width: 99vw;
    object-fit: contain;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: -16px;
}
